<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>foto</title>
</head>
<body>
    <form action="/foto" method="POST">
        <input type="file" name="imagem" placeholder="Insira a imagem do produto" required/>
        <button type="submit">Enviar</button>
    </form>
    <br>
    <button type="submit" name="relatorio" class="bnt-cad">Gerar</button>
    {% if result %}
        {% for row in result %}
        {{ row[0] }}<img src="{{ row[0] }}" alt="">
        {% endfor %}
    {% else %}
        <td colspan="4">Nenhum resultado encontrado.</td>
    {% endif %}
</body>
</html>